body {
    margin: 0;
    padding: 0;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/foto-gratis/bodegon-corona-espinas_23-2149374849.jpg'); /* Agrega la imagen de fondo */
    background-size: cover;
    background-position: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #474747;
    border-top: 8px solid #e11c18;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .loader {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .loader {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 320px) {
    .loader {
        width: 20px;
        height: 20px;
    }
}